# Theory question

1.What are data structures, and why are they important?
 -> Data structure is a way pf organizing sorting data so that it canbe accessed and manipulated efficiently. It's important because it provides an organized way of storing and managing data, enalbing efficent algoriths. Data structures provide abstraction, allowing programmers to focus on the logical organization of data rather than the low-level details of memory management.

2.Explain the difference between mutable and immutable data types with examples.
 -> Mutable data types are types of objects that can be changed or modified after they are created.
Example Data Types: Lists, Dictionaries, Sets, etc.
 Immutable data types are types of objects whose values cannot be changed after they are created. If you attempt to modify them, a new object is created.
Example Data Types: Tuples, Strings, Integers, etc.
Mutuable data example: my_list = [1, 2, 3]
my_list[0] = 10  # You can modify the list
print(my_list)  
Immutable data exmaple: my_string = "Hello"
my_string = "Good Morning"
Print(mystring) this will through an error.

3.What are the main differences between lists and tuples in Python?
 -> List are mutable while tuples are immutable.
  List uses square brackets[] while tuple uses parentheses().
  List is bit slower but tuples are copmaritively faster.
  List have more no. of inbuilt function as compared to tuples.

4.Describe how dictionaries store data.
 -> A dictionary is an unordered collection of items that are stored as key-value pairs. Each item in a dictionary is a combination of a key and its associated value.
 my_dict = {"apple": 1, "banana": 2, "cherry": 3}
 In the above example apple banana and cherry are keys and 1,2 and 3 are the values associated with these key respectively. When a key-value pair is inserted, Python hashes the key to find a location in memory where the value will be stored.If the same key is used again, Python reuses the hashed location and updates the value.If a new key is inserted, it assigns a new location based on the hash.

 5.Why might you use a set instead of a list in Python?
 -> Sets are unordered and unique collection of element, it doesn't allow duplicate items.Sets support mathematical set operations like union, intersection, difference, and symmetric difference. These operations are very useful for tasks like comparing two collections.Sets are typically more memory-efficient than lists when it comes to storing a large number of items, particularly if you need to ensure uniqueness.

6.What is a string in Python, and how is it different from a list?
 -> String is a sequence of characters that represents and manipulate textual data. Characters are represented using numerical values and each character is assigned a unique value. String is different from list as list is mutable while string is immutable. string only contains textual data whereas list can contain an type of data.Strings are ideal for handling and manipulating text (e.g., names, messages, or sentences).Lists are ideal for storing collections of multiple items that can vary in type, and that you may need to modify or update.

7.How do tuples ensure data integrity in Python?
 -> uples help ensure data integrity primarily because they are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This immutability provides several benefits that contribute to ensuring the integrity of the data stored in tuples.

8. What is a hash table, and how does it relate to dictionaries in Python?
 -> A hash table is a data structure used to store key-value pairs, allowing for fast data retrieval. It works by using a hash function to compute an index (also called a hash code) that determines where the value associated with a key should be stored in memory. It is similar to dictornary as dictonary also uses key pair value for storing data. A dictionary is implemented using a hash table. When you create a dictionary and perform operations like adding, retrieving, or removing items, Python internally uses a hash table to map the keys to their corresponding values.

9.Can lists contain different data types in Python?
 -> Yes list can store any type of data whether it's integers, strings, floats, booleans, other lists, and even complex objects.Python lists are heterogeneous.

10. Explain why strings are immutable in Python.
 -> strings are immutable, meaning once a string is created, its value cannot be changed. The immutability of strings in Python is a design decision that offers several benefits related to performance, security, and simplicity.It's more memory efficient, It ensures that strings cannot be accidentally modified, leading to more predictable behavior.

11. What advantages do dictionaries offer over lists for certain tasks?
  -> Dictionaries offer several advantages over lists, especially for tasks involving fast lookups and key-value mapping. They provide O(1) average-time lookups, making data retrieval faster than lists, which require O(n) for searching by value. Dictionaries store unique key-value pairs, making them ideal for tasks where you need to associate a key with a value, while lists can only store values. Insertion and deletion in dictionaries are efficient (O(1)), unlike lists, which can be slower due to shifting elements. Dictionaries also handle missing keys gracefully with methods like .get(), while lists don’t. Overall, dictionaries are better for fast data access, ensuring key uniqueness, and handling dynamic data efficiently.

12. Describe a scenario where using a tuple would be preferable over a list.
  -> when you need to store data that should remain constant throughout the lifetime of the program, ensuring that it cannot be accidentally modified, we should use tuple not list.Tuple ensures data intregity. Suppose you want to store employess aadhar no. then you should use tuples.

13.How do sets handle duplicate values in Python?
 -> sets automatically remove duplicate values. A set is an unordered collection of unique elements, so if you try to add an element that already exists in the set, it will simply be ignored, and no error will be raised.

14.How does the “in” keyword work differently for lists and dictionaries?
 -> When used with a list, the in keyword checks if a specific value is present in the list. It returns True if the value exists and False if it doesn’t.
 my_list = [1, 2, 3, 4]
 print(3 in my_list)  # Output: True
 print(5 in my_list)  # Output: False
 When used with a dictionary, the in keyword checks for the presence of a key in the dictionary, not the value. It returns True if the specified key exists in the dictionary, and False if it doesn't.
 my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print("apple" in my_dict)  # Output: True
print("orange" in my_dict)  # Output: False

15.Can you modify the elements of a tuple? Explain why or why not?
 -> No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability is a fundamental property of tuples in Python.

 16.What is a nested dictionary, and give an example of its use case?
  -> A nested dictionary in Python is a dictionary where the values themselves are dictionaries. This allows you to store more complex, hierarchical data structures where each key points to another dictionary, which may contain its own keys and values. Nested dictionaries are useful when you need to represent multi-level or structured data in an easily accessible way.in simple language its dictionary inside dictionary.
  example: students = {
    "Diksha": {
        "age": 15,
        "grades": {"math": 90, "science": 88, "english": 95},
        "contact": {"email": "diksha@gmail.com", "phone": "123-456-7890"}
    },

17.Describe the time complexity of accessing elements in a dictionary.
-> In Python, the time complexity for accessing elements in a dictionary is O(1) on average, meaning it takes constant time regardless of the dictionary's size. This efficiency is due to the use of hash tables, where a key is hashed to directly retrieve its corresponding value. In rare cases of hash collisions, the time complexity can degrade to O(n), but Python's implementation handles collisions efficiently, making this worst-case scenario uncommon.

 18.In what situations are lists preferred over dictionaries?
  -> Lists are preferred over dictionaries in situations where you need to maintain the order of elements or perform operations like sorting, lists are better because they are ordered collections. Dictionaries, while they now maintain insertion order in Python 3.7 and above, are primarily designed for key-value mapping, not for ordered data storage.Lists allow you to access elements by their index, when you have a collection of similar items (e.g., all integers or strings) and don’t need key-value pairs, lists are simpler and more appropriate since they are optimized for storing a sequence of elements of the same type.If you just need to add, remove, or update elements based on their position rather than a key, lists are easier to work with. Operations like appending, inserting, or removing items at specific positions are simple with lists.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries in Python were traditionally considered unordered because they were implemented using hash tables, which focus on fast key-value lookups (O(1) time complexity) and don't guarantee any specific order of elements. However, starting with Python 3.7, dictionaries preserve insertion order, meaning the order in which items are added is maintained during iteration. This change doesn't affect the efficiency of data retrieval by key, which remains fast, but it allows for more predictable iteration. Despite this, dictionaries are still not intended for maintaining an order like lists or tuples. Their primary function is efficient key-based access.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
-> Lists access elements by their numerical index (starting from 0), while dictionaries access elements (values) by their unique keys, offering faster lookup for specific data based on those keys.
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20 (O(1) time)
y_dict = {"apple": 1, "banana": 2}
print(my_dict["banana"])  # Output: 2 (O(1) time)

# Practical Question.

1.Write a code to create a string with your name and print it.

In [1]:
my_name = "Diksha"
print(my_name)

Diksha

2.Write a code to find the length of the string "Hello World".

In [3]:
my_string = "Hello World"
length_of_string = len(my_string)
print(length_of_string)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [5]:
my_string = "hello"
my_string = my_string.upper()
print(my_string)

HELLO

 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
my_list = [1,2,3,4,5 ]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [14]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [19]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
my_tuple = ("apple", "banana", "cherry")
if "kiwi" in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [22]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set= {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [29]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [30]:
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
union_set = my_set1.union(my_set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [31]:
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [33]:
my_dic = {"name": "Diksha", "age": 24, "city": "Delhi"}
print(my_dic)

{'name': 'Diksha', 'age': 24, 'city': 'Delhi'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [34]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
my_dic = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

John

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
my_dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dic['age']
print(my_dic)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [40]:
my_dic = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dic:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [42]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{'apple': 1, 'banana': 2, 'cherry': 3}

 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [43]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[9, 14, 20, 60, 87]

28.Write a code to create a list with strings and print the element at the third index.

In [44]:
my_list = ["first", "second", "third", "fourth", "fifth"]
print(my_list[2])

third

 29.Write a code to combine two dictionaries into one and print the result

In [45]:
my_dic1 = {"apple": 1, "banana": 2}
my_dic2 = {"cherry": 3, "date": 4}
combined_dic = {**my_dic1, **my_dic2}
print(combined_dic)

{'apple': 1, 'banana': 2, 'cherry': 3, 'date': 4}

 30.Write a code to convert a list of strings into a set.

In [48]:
my_list = ['apple', 'banana', 'grapes', 'orange' ]
my_set = set(my_list)
print(my_set)

{'banana', 'grapes', 'apple', 'orange'}